robo/docs/context/clientes/nuvyon/implementacoes/n8n_nuvyon_atendimento_fixo.json
{
  "name": "[Nuvyon] Matrix | Atendimento Fixo | 1.1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "16ae9f97-7ddb-41fa-806b-523bfbf400fdValidator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2592,
        1392
      ],
      "id": "87f07efc-7909-47e4-a936-7d645d587bab",
      "name": "QuestionValidator",
      "webhookId": "16ae9f97-7ddb-41fa-806b-523bfbf400fd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9165ad3-8be4-400c-84d5-fffff73f4f8c",
              "name": "question",
              "value": "={{ $json.body.question }}",
              "type": "string"
            },
            {
              "id": "dbb7049a-0dca-47c1-ae33-82d6561be12e",
              "name": "answer",
              "value": "={{ $json.body.answer}}",
              "type": "string"
            },
            {
              "id": "5b79f811-d6f9-4c8f-9732-a8fb97a7a14c",
              "name": "cellphone",
              "value": "={{ $json.body.cellphone}}",
              "type": "string"
            },
            {
              "id": "7d915f52-b30e-4f86-a854-17a3945930e6",
              "name": "id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "3ffb3e72-b348-4e53-b4c5-b7f625aec012",
              "name": "dontValidate",
              "value": "={{ $json.body.dontValidate ?? false }}",
              "type": "boolean"
            },
            {
              "id": "9e56f071-19bf-4fbe-9355-6fd267e6b8bb",
              "name": "grupoNotificacao",
              "value": "+55 53 9950-9717",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        1408
      ],
      "id": "d4698443-7f83-401a-8ce8-e90e56d687d7",
      "name": "Entrada"
    },
    {
      "parameters": {
        "content": "## Problem\nConverting leads to sales in hubsoft\n## Solution\nChatbot that will be connected to a service like Matrix\n## Purpose of this workflow\n* Be a validator of the question/answer flow\n## Reasoning\nWe don't want our system to be restricted by a specific chatbot app, so the business logic should generally come from our own workflow. \n## Challenges\n* Input validation (which requires other sources, such as CEP validators and resources from the company we are providing the service to)",
        "height": 420,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3424,
        1232
      ],
      "id": "784c79ac-804d-4f0c-b646-643925d35632",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\n### Recebe uma pergunta e resposta, retorna se é valido",
        "height": 80,
        "width": 536,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3424,
        1776
      ],
      "id": "2ed0a746-39ab-4106-b935-e9734ce9697c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n### Recebe um session id para continuação de uma conversa (se for a primeira conversa ele também espera um 'conversationFlow' para saber o que perguntar o usuário?)",
        "height": 80,
        "width": 520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2416,
        6496
      ],
      "id": "249b407d-938a-4bf6-ac28-1f23d30fe6a2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n### Recebe um session id para continuação de uma conversa, e um formId para que o AI saiba que perguntas estarão sendo usadas.",
        "height": 80,
        "width": 520,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2416,
        6896
      ],
      "id": "43cc3845-39f7-45c0-8f12-0b0a6338c93f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "aa4f8505-f7ed-42fd-b044-bfa12a105af7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2240,
        6624
      ],
      "id": "dd990525-7037-4832-b0a2-c56afe04f8c5",
      "name": "Webhook",
      "webhookId": "aa4f8505-f7ed-42fd-b044-bfa12a105af7"
    },
    {
      "parameters": {
        "path": "aa4f8505-f7ed-42fd-b044-bfa12a105af7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2240,
        7024
      ],
      "id": "761ff649-b1c9-490f-bb95-417be7967869",
      "name": "Webhook1",
      "webhookId": "aa4f8505-f7ed-42fd-b044-bfa12a105af7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a12ef1f3-91f7-45d3-8bd4-1028134a42be",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "9803bece-d053-4d72-aa44-7923fde075ab",
              "name": "conversationFlow",
              "value": "={{ $json.body.conversationFlow }}",
              "type": "string"
            },
            {
              "id": "3e320909-99a1-4813-af8d-38b75ffe8c78",
              "name": "",
              "value": "={{ $json.body.conversationFlow }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        6624
      ],
      "id": "16954c79-4a53-4693-ba49-ffdb69c2eb62",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "Banco de dados: Postgresql",
        "height": 80,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3424,
        1680
      ],
      "id": "63e052a2-334d-4524-9603-25a6f401a59c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE prospectos\nADD CONSTRAINT prospectos_telefone_unique UNIQUE (telefone);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2096,
        848
      ],
      "id": "c8a28955-20bc-4969-9681-af7d23a66972",
      "name": "Constraint prospectos",
      "credentials": {
        "postgres": {
          "id": "w0wUkChNIxH8Jj5J",
          "name": "supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cidade_atendida",
          "mode": "list",
          "cachedResultName": "cidade_atendida"
        },
        "deleteCommand": "drop",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2288,
        672
      ],
      "id": "7cc0e695-eb3b-4d46-b861-2ae091fcd195",
      "name": "Apagar Tabela",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "prospectos",
          "mode": "list",
          "cachedResultName": "prospectos"
        },
        "returnAll": true,
        "options": {
          "connectionTimeout": 30
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2080,
        672
      ],
      "id": "a6acbc95-2b58-4397-8e6f-b2c5f0b727b3",
      "name": "Ler tabela",
      "credentials": {
        "postgres": {
          "id": "w0wUkChNIxH8Jj5J",
          "name": "supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2384,
        624
      ],
      "id": "159f293a-6eb2-4dcb-80d0-f2d3af2e1f76",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "height": 520,
        "width": 1120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2624,
        1264
      ],
      "id": "73d7f516-582e-4f6f-84c2-bf1e3df80850",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "102b2685-02ff-44ce-9def-45d58485ca80",
              "name": "question",
              "value": "={{ $node['Entrada'].json['question'] }}",
              "type": "string"
            },
            {
              "id": "a81f4641-921a-4660-9d61-bcd3b7e09ad1",
              "name": "answer",
              "value": "={{ $node['Entrada'].json['answer'] }}",
              "type": "string"
            },
            {
              "id": "d7ce42e6-738e-40f1-a799-4454a7312fcd",
              "name": "validations",
              "value": "={{ $json.response?.validations ?? $json.validations }}",
              "type": "string"
            },
            {
              "id": "f56c9b43-f075-4123-9a0d-f2d7a67a2236",
              "name": "expectedFormats",
              "value": "={{ $json.response?.expectedFormats ?? $json.expectedFormats }}",
              "type": "string"
            },
            {
              "id": "3938faaa-8c92-463c-8f4b-f32797fa7ec0",
              "name": "exceptions",
              "value": "={{ $json.response?.exceptions ?? $json.exceptions}}",
              "type": "string"
            },
            {
              "id": "a01fe2dd-4913-41c0-8c6e-90ae7440c342",
              "name": "examples",
              "value": "={{ $json.response?.examples ?? $json.examples}}",
              "type": "string"
            },
            {
              "id": "fa51db55-44c8-4c12-9dc0-732092b66673",
              "name": "isDataNascimento",
              "value": "={{ $json.response?.isDataNascimento ?? $json.isDataNascimento}}",
              "type": "string"
            },
            {
              "id": "6ae98706-46f1-47d7-8bc8-7286a0715159",
              "name": "isImagem",
              "value": "={{ $json.response?.isImagem ?? $json.isImagem}}",
              "type": "boolean"
            },
            {
              "id": "8177942e-1d2d-43f8-8f4e-0c3b32974f9b",
              "name": "isEmail",
              "value": "={{ $json.response?.isEmail ?? $json.isEmail}}",
              "type": "string"
            },
            {
              "id": "d254271c-2dbf-4efc-92d9-98f70151ea5a",
              "name": "isCPF",
              "value": "={{ $json.response?.isCPF ?? $json.isCPF}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        1536
      ],
      "id": "51a3af8e-be3e-43d3-89cb-4d023dcf6df3",
      "name": "FilterValidatorType"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nuvyontelecom.hubsoft.com.br/oauth/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"client_id\": \"76\",\n  \"client_secret\": \"hv3K6SXp7p7g2eNznxUXJphgsgzfQUHnyuch2XaS\",\n  \"username\": \"rdstation@nuvyoninternet.com.br\",\n  \"password\": \"XMa3Nz6YwLA5*w\",\n  \"grant_type\": \"password\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6416,
        -3136
      ],
      "id": "450cf86d-9ec5-4185-8ee7-e42dceb18062",
      "name": "TokenHubsoft"
    },
    {
      "parameters": {
        "content": "",
        "height": 520,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2496,
        5520
      ],
      "id": "2a649d68-8d13-448f-867f-cbb6112312c8",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "url": "https://megacadastro.nuvyonpiaui.com.br/api/leads/registrar/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        5696
      ],
      "id": "f6cd933b-ac43-4b6d-8b3a-d804e2e276b9",
      "name": "CreateLead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0de01c31-8a14-4864-ab00-101536b3eada",
              "leftValue": "={{ $json.dontValidate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        1408
      ],
      "id": "0fe63bfd-a5ad-444c-9edd-8a8b9500c051",
      "name": "skipValidation?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1936,
        1296
      ],
      "id": "c762bf2a-1f73-4d3e-ade8-a022f0965dad",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=16ae9f97-7ddb-41fa-806b-523bfbf400fdLeadRegister",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2432,
        5696
      ],
      "id": "dbf6572c-7aae-43c5-8cf2-6d8a5c9cb443",
      "name": "RegisterLead",
      "webhookId": "16ae9f97-7ddb-41fa-806b-523bfbf400fd"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE cidade_atendida (\n    id SERIAL PRIMARY KEY,\n    nome_cidade VARCHAR(255) NOT NULL\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2288,
        848
      ],
      "id": "42534943-1faf-4139-a9bf-895fd1dddaf4",
      "name": "Criar Tabela CidadeAtendida",
      "credentials": {
        "postgres": {
          "id": "w0wUkChNIxH8Jj5J",
          "name": "supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE cidade_atendida (\n    id SERIAL PRIMARY KEY,\n    nome_cidade VARCHAR(255) NOT NULL,\n    time_de_atendimento VARCHAR(255),\n   id_agenda INTEGER\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2288,
        1024
      ],
      "id": "678b98dd-e41d-4533-aef6-dc8ec7193624",
      "name": "Criar Tabela CidadeAtendida1",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 520,
        "width": 1776
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2496,
        6144
      ],
      "id": "7a062b3b-6d4e-40fb-a4a9-b530fb58e230",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8a3ed459-007c-4b4e-b75e-7c3fd9fa0953-Cidades-Update",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2464,
        6336
      ],
      "id": "a87de1c4-9079-4c66-b96b-d82b708ee31b",
      "name": "UpdateCidadesWebhook",
      "webhookId": "8a3ed459-007c-4b4e-b75e-7c3fd9fa0953"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfbcdfe4-56c8-4825-acde-d9b730611145",
              "leftValue": "={{ $json.remover_antigos }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        6336
      ],
      "id": "d5969e4c-5733-441a-865e-9f1573a00ceb",
      "name": "DeveriaApagarAntigos?"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "cidade_atendida",
          "mode": "list",
          "cachedResultName": "cidade_atendida"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1520,
        6208
      ],
      "id": "04120811-3409-405d-857a-a4e9af912f10",
      "name": "DeletarCidades",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cidade_atendida",
          "mode": "list",
          "cachedResultName": "cidade_atendida"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_agenda": "={{ $json.cidade.id_agenda }}",
            "nome_cidade": "={{ $json.cidade.nome }}",
            "time_de_atendimento": "={{ $json.cidade.time }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome_cidade",
              "displayName": "nome_cidade",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_de_atendimento",
              "displayName": "time_de_atendimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        6368
      ],
      "id": "4f3b6a6f-63c2-45e2-b636-e830401fe9ea",
      "name": "AdicionarCidades",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d441318-8122-4d0b-b419-b6e0901bf8f1",
              "name": "cidades",
              "value": "={{ $json.body.cidades }}",
              "type": "array"
            },
            {
              "id": "6dec9494-4ca0-48e7-bfb8-ce65d19a2d7a",
              "name": "remover_antigos",
              "value": "={{ $json.body.remover_antigos }}",
              "type": "boolean"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2272,
        6352
      ],
      "id": "5ae9740d-1a25-41ee-8481-fb81a7c66c66",
      "name": "EntradaUpdateCidades"
    },
    {
      "parameters": {
        "fieldToSplitOut": "cidades",
        "options": {
          "destinationFieldName": "cidade"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1248,
        6352
      ],
      "id": "916e5f2f-87ac-44e7-8a1e-5894a1ae9c20",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://api.nuvyontelecom.hubsoft.com.br/api/v1/integracao/cliente/financeiro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "termo_busca",
              "value": "05356595042"
            },
            {
              "name": "busca",
              "value": "cpf_cnpj"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6672,
        -3168
      ],
      "id": "1d32f15f-5670-40ce-b25c-14c9ed0a83e0",
      "name": "HTTP Request8",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nuvyontelecom.hubsoft.com.br/oauth/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"client_id\": \"76\",\n  \"client_secret\": \"hv3K6SXp7p7g2eNznxUXJphgsgzfQUHnyuch2XaS\",\n  \"username\": \"rdstation@nuvyoninternet.com.br\",\n  \"password\": \"XMa3Nz6YwLA5*w\",\n  \"grant_type\": \"password\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6496,
        -2960
      ],
      "id": "4595feab-cb25-4c5a-833f-520d06238c5b",
      "name": "TokenHubsoft1"
    },
    {
      "parameters": {
        "url": "https://api.nuvyontelecom.hubsoft.com.br/api/v1/integracao/cliente/financeiro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "termo_busca",
              "value": "36734059855"
            },
            {
              "name": "busca",
              "value": "cpf_cnpj"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6752,
        -3008
      ],
      "id": "8f142497-987c-41bd-8b02-5d94a3b2024c",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nuvyontelecom.hubsoft.com.br/oauth/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"client_id\": \"76\",\n  \"client_secret\": \"hv3K6SXp7p7g2eNznxUXJphgsgzfQUHnyuch2XaS\",\n  \"username\": \"rdstation@nuvyoninternet.com.br\",\n  \"password\": \"XMa3Nz6YwLA5*w\",\n  \"grant_type\": \"password\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6576,
        -2800
      ],
      "id": "a3b01b62-24f1-4647-a7fc-ac2edc361a99",
      "name": "TokenHubsoft2"
    },
    {
      "parameters": {
        "url": "https://api.nuvyontelecom.hubsoft.com.br/api/v1/integracao/cliente/financeiro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "termo_busca",
              "value": "60165728370"
            },
            {
              "name": "busca",
              "value": "cpf_cnpj"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6880,
        -2816
      ],
      "id": "f14bf583-4530-4566-be10-44cf4ec2031f",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "client",
              "value": "={{ $json.faturas.last()['cliente'] }}",
              "type": "object"
            },
            {
              "id": "4fff6af0-26bf-4549-b6d3-d4b4a2adf316",
              "name": "hasBilling",
              "value": "={{ $json.faturas.find(item => item.quitado === false)  !== undefined}}",
              "type": "string"
            },
            {
              "id": "fca77273-ecde-4ce8-af47-fe72be650b41",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6992,
        -3088
      ],
      "id": "b502b7c3-1bd9-4f7e-8b42-2eee6f43f24b",
      "name": "TesteCancelado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "client",
              "value": "={{ $json.faturas.last()['cliente'] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6880,
        -3264
      ],
      "id": "d1ca442d-4102-4cd2-b9a6-bfd9af64ac7c",
      "name": "NãoExiste?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "client",
              "value": "={{ $json.faturas.last()['cliente'] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7072,
        -2928
      ],
      "id": "f0516fd7-74d6-41ff-aed4-828ac43f0fbb",
      "name": "ServiçoHabilitado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "isAClient",
              "value": "={{ $json.status_client === 'ATIVO'}}",
              "type": "string"
            },
            {
              "id": "f660ecc0-aef6-4fb4-b2e0-89d36c75a357",
              "name": "hasCancelled",
              "value": "={{ $json.status_client  }}",
              "type": "string"
            },
            {
              "id": "7e2bc488-5ad0-4f4c-896b-899a8258e5d7",
              "name": "hasBilling",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8288,
        -2496
      ],
      "id": "1a019f59-be0f-4180-be0d-d4d12e487801",
      "name": "TesteCancelado1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "status_client",
              "value": "={{\n$json.client === undefined ?\n \"NAO_CLIENTE\"\n: $json.client.status === \"Cancelado\" ? \n\"CANCELADO\" : \"ATIVO\"\n}}",
              "type": "object"
            },
            {
              "id": "7153f3c4-c5cb-4ff0-b85b-8b1a2e31c6ed",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8112,
        -2496
      ],
      "id": "da61b1cc-7e12-4778-9b43-7c98571a12f4",
      "name": "TesteCancelado2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "client",
              "value": "={{ $json.faturas.last()['cliente'] }}",
              "type": "object"
            },
            {
              "id": "4fff6af0-26bf-4549-b6d3-d4b4a2adf316",
              "name": "hasBilling",
              "value": "={{ $json.faturas.find(item => item.quitado === false)  !== undefined}}",
              "type": "string"
            },
            {
              "id": "fca77273-ecde-4ce8-af47-fe72be650b41",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7936,
        -2496
      ],
      "id": "9c75a96b-f5ba-4d1e-b043-d1061f330337",
      "name": "TesteCancelado3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nuvyontelecom.hubsoft.com.br/oauth/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"client_id\": \"76\",\n  \"client_secret\": \"hv3K6SXp7p7g2eNznxUXJphgsgzfQUHnyuch2XaS\",\n  \"username\": \"rdstation@nuvyoninternet.com.br\",\n  \"password\": \"XMa3Nz6YwLA5*w\",\n  \"grant_type\": \"password\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        2784
      ],
      "id": "3cecd1b4-f70a-48d0-addd-289ad2ef2971",
      "name": "TokenHubsoft3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nuvyontelecom.hubsoft.com.br/oauth/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"client_id\": \"76\",\n  \"client_secret\": \"hv3K6SXp7p7g2eNznxUXJphgsgzfQUHnyuch2XaS\",\n  \"username\": \"rdstation@nuvyoninternet.com.br\",\n  \"password\": \"XMa3Nz6YwLA5*w\",\n  \"grant_type\": \"password\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6944,
        -2656
      ],
      "id": "3bcd4db3-6559-41f4-9378-3b58777f5051",
      "name": "TokenHubsoft4"
    },
    {
      "parameters": {
        "url": "https://api.nuvyontelecom.hubsoft.com.br/api/v1/integracao/cliente/financeiro",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "termo_busca",
              "value": "60165728370"
            },
            {
              "name": "busca",
              "value": "cpf_cnpj"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7696,
        -2464
      ],
      "id": "8325be97-815c-4c14-aa59-a4178cd3a651",
      "name": "HTTP Request3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.nuvyontelecom.hubsoft.com.br/api/v1/integracao/cliente",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "busca",
              "value": "cpf_cnpj"
            },
            {
              "name": "termo_busca",
              "value": "=60165728370"
            },
            {
              "name": "inativo",
              "value": "todos"
            },
            {
              "name": "cancelado",
              "value": "sim"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7168,
        -2624
      ],
      "id": "291a1636-4f0e-4843-b6bb-801addb22a96",
      "name": "Consulta dados cliente3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "isAClient",
              "value": "={{ $json.status_client === 'ATIVO'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7776,
        -2688
      ],
      "id": "03f5a5ab-40c7-4006-a85c-799bdddb3240",
      "name": "TesteCancelado4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "status_client",
              "value": "={{\n$json.client === undefined ?\n \"NAO_CLIENTE\" : \"ATIVO\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7600,
        -2688
      ],
      "id": "08a93f2d-5f7a-4bb7-8241-78a814b7e40c",
      "name": "TesteCancelado5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "client",
              "value": "={{ $json.clientes[0] }}",
              "type": "object"
            },
            {
              "id": "4fff6af0-26bf-4549-b6d3-d4b4a2adf316",
              "name": "hasBilling",
              "value": "={{ $json.faturas.find(item => item.quitado === false)  !== undefined}}",
              "type": "string"
            },
            {
              "id": "fca77273-ecde-4ce8-af47-fe72be650b41",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7424,
        -2688
      ],
      "id": "31a228f3-659e-4b2e-af45-7baeee57864e",
      "name": "TesteCancelado6"
    },
    {
      "parameters": {
        "content": "## Testes\n",
        "height": 1120,
        "width": 2464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6000,
        -3360
      ],
      "id": "a5bc3481-29c0-4981-81ef-45e25e834803",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## FAQ Model",
        "height": 544,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1728,
        192
      ],
      "id": "a162fb44-ae36-4bcc-ab82-f0691f16194c",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE pergunta (\n    id SERIAL PRIMARY KEY,\n    pergunta VARCHAR(255) NOT NULL,\n    resposta VARCHAR(255) NOT NULL\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1664,
        288
      ],
      "id": "00d6c1b2-4c4c-490d-a90f-ec3154e4429e",
      "name": "Criar Tabela CidadeAtendida2",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 360,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        1424
      ],
      "id": "8b4bacf8-2df5-4c72-8254-b11417ffd94c",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "",
        "height": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        1424
      ],
      "id": "f930db8d-5a9d-4155-aa53-921ca4ec20f4",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automation-n8n.v4riem.easypanel.host/webhook/8a61fb9e-5558-4d3f-ace7-2295df84de6e-CheckType",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $node['Entrada'].json['question'] }}"
            },
            {
              "name": "answer",
              "value": "={{ $node['Entrada'].json['answer'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        1536
      ],
      "id": "e4fb1b54-3b14-49cd-b9da-bddda1170cd5",
      "name": "Checar Tipo"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cidade_atendida",
          "mode": "list",
          "cachedResultName": "cidade_atendida"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_cidade": "={{ $json.nome_cidade }}",
            "time_de_atendimento": "={{ $json.cidades_flaysi.includes($json.nome_cidade) ? \"Flaysi\" : \"Franklin\" }}"
          },
          "matchingColumns": [
            "nome_cidade"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome_cidade",
              "displayName": "nome_cidade",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time_de_atendimento",
              "displayName": "time_de_atendimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_agenda",
              "displayName": "id_agenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -960,
        6800
      ],
      "id": "28599b29-a75f-48e5-8fc6-842a6332a8fd",
      "name": "AtualizarTimeCidades",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ce64405-4686-4c35-9902-11cf8ca3cff4",
              "name": "cidades_flaysi",
              "value": "[\"Bom Jesus\", \"Palmeira do Piauí\", \"Cristino Castro\", \"Santaluz\", \"Redenção do Gurguéia\", \"Monte Alegre do Piauí\", \"Gilbués\", \"São Gonçalo do Gurguéia\", \"Currais\"]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        6816
      ],
      "id": "7ddbabfe-6aa0-47f6-a9db-abe72ff01fbf",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cidade_atendida",
          "mode": "list",
          "cachedResultName": "cidade_atendida"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "time_de_atendimento",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1520,
        6800
      ],
      "id": "3b75277e-44d0-41fc-a616-29aeb7f768eb",
      "name": "AtualizarTimeCidades1",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        1552
      ],
      "id": "0ff18977-705c-4921-862d-c85d8f664789",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "# IMAGEM",
        "height": 112,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        1408
      ],
      "id": "ae597f72-13bf-492b-82a3-01cff5bc0bde",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54d6c1f0-8ab1-4623-9fd9-bac01288f8a6",
              "name": "response",
              "value": "={{ \n{\n'answerIsCorrect': $json.answerIsCorrect,\n'errorMessage': ($json.answerIsCorrect == true) ? '' : 'O conteúdo enviado não é um arquivo de imagem.'\n}\n}}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        1632
      ],
      "id": "c793e238-8646-4195-b450-e74608ba5cd7",
      "name": "Edit Fields16"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4923418-5a47-4f08-82e2-89c9c5afcd72",
              "name": "answerIsCorrect",
              "value": "={{ ['png', 'jpeg', 'jpg'].some(item => $json.answer.endsWith(item)) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        1632
      ],
      "id": "7f587734-ad0f-452d-b635-4d3c265dcf43",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items\nfor (const item of $input.all()) {\n  \n  const dateString = item.json.answer;\n  \n  // Initialize new fields\n  item.json.isOver18 = false;\n  item.json.validationError = null;\n\n  // 1. Check if input exists\n  if (!dateString) {\n    item.json.validationError = \"Input field 'answer' is missing or empty.\";\n    continue; // Skip to the next item\n  }\n\n  // 2. Check for exact dd/mm/yyyy format\n  const regex = /^\\d{2}\\/\\d{2}\\/\\d{4}$/;\n  if (!regex.test(dateString)) {\n    item.json.validationError = \"Invalid date format. Expected dd/mm/yyyy.\";\n    continue; // Skip to the next item\n  }\n\n  // 3. Parse the date string\n  const parts = dateString.split('/');\n  const day = parseInt(parts[0], 10);\n  const month = parseInt(parts[1], 10) - 1; // JavaScript months are 0-indexed (0-11)\n  const year = parseInt(parts[2], 10);\n\n  const birthDate = new Date(year, month, day);\n\n  // 4. Validate if the created date is a real calendar date\n  // This catches invalid dates like 31/02/2000, which JS would \"roll over\"\n  if (birthDate.getFullYear() !== year || birthDate.getMonth() !== month || birthDate.getDate() !== day) {\n    item.json.validationError = \"Invalid calendar date (e.g., 31/02/2000).\";\n    continue; // Skip to the next item\n  }\n\n  // 5. Calculate the cutoff date (18 years ago from today)\n  const today = new Date();\n  const cutoffDate = new Date(\n    today.getFullYear() - 18,\n    today.getMonth(),\n    today.getDate()\n  );\n\n  // 6. Perform the validation\n  // If the birthdate is on or before the cutoff date, they are 18 or older.\n  item.json.isOver18 = (birthDate <= cutoffDate);\n\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1104
      ],
      "id": "374e1067-c3ef-4e27-8f12-766fec36e5f1",
      "name": "ValidarDataDeNascimento"
    },
    {
      "parameters": {
        "content": "# DATA DE NASCIMENTO",
        "height": 112,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        880
      ],
      "id": "b0dfb998-63b4-48a3-8233-bf49c6ba6ba3",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54d6c1f0-8ab1-4623-9fd9-bac01288f8a6",
              "name": "response",
              "value": "={{ \n{\n'answerIsCorrect': $json.answerIsCorrect,\n'errorMessage': $json.errorMessage\n}\n}}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        1104
      ],
      "id": "70f6906f-c295-4f2e-8a24-5e251cf291e6",
      "name": "Edit Fields17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acfef6b9-c741-400c-9d10-1d4dbad6ff23",
              "name": "errorMessage",
              "value": "={{ $json.validationError\n? \n\"A data fornecida foi formatada de forma incorreta. O formato de data deve estar como dd/mm/YYYY\" :\n$json.isOver18 ? \"\" : \"A data fornecida indica que você não é maior de idade. Por favor insira uma data de nascimento válida para uma pessoa que seja maior de 18 anos.\" }}",
              "type": "string"
            },
            {
              "id": "361d0856-6728-438c-a6b4-6412e9b56d01",
              "name": "answerIsCorrect",
              "value": "={{   $json.validationError == null \n&& $json.isOver18 }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        1104
      ],
      "id": "1cb49fce-ada7-4b74-b38c-bca78cb453b9",
      "name": "GenerateErrorMessage"
    },
    {
      "parameters": {
        "content": "",
        "height": 336,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        1024
      ],
      "id": "2b07769e-576b-48ab-8808-b65921e5ad78",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a14da3a5-c3c0-43c7-8225-f484c339e700",
              "name": "response",
              "value": "={{ JSON.parse($json.output) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        2608
      ],
      "id": "bcefdcaa-4483-45fa-b6ff-b0c23978ef3c",
      "name": "ResultadoValidacao"
    },
    {
      "parameters": {
        "content": "# VALIDADOR",
        "height": 112,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        2384
      ],
      "id": "d0c8409a-56e8-4b64-afbf-49c0e6129e4b",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pergunta: {{ $json.question }}\nResposta do Usuário: {{ $json.answer }}\n\nInstruções de Validação e Formatação:\n\n1.  Regras de Validação: {{ $json.validations }}\n2. Não esqueça que se a resposta não fizer sentido para a pergunta ela deve ser recusada.\n3.  Exemplos válidos: {{ $json.examples }}",
        "options": {
          "systemMessage": "=Você é um assistente de IA especialista em processar e formatar respostas de formulários. Sua função é receber uma entrada de texto do usuário, analisá-la para entender o valor, e retornar esse valor em um formato padronizado (JSON). \n\nSua resposta deve ser sempre um JSON com os campos answerIsCorrect, formattedValue e errorMessage.\n\n### Regras de Processamento e Formatação:\n\n1. SE A ENTRADA PODE SER INTERPRETADA E FORMATADA CORRETAMENTE (VÁLIDA):\n   - answerIsCorrect deve ser true.\n   - errorMessage deve ser vazio (\"\").\n\n   Exemplos:\n     - Pergunta: 'Qual é a sua cidade?'\n     - Entrada Usuário: 'Porto Alegre' ou 'Poa' ou 'porto alegre rs'\n     - Retorno:\n       json\n       {\n         \"answerIsCorrect\": true,\n         \"errorMessage\": \"\"\n       }\n       \n     - Pergunta: 'Quantos clientes ativos sua empresa possui?'\n     - Entrada Usuário: 'cerca de 100' ou 'cem' ou '100 clientes'\n     - Retorno:\n       json\n       {\n         \"answerIsCorrect\": true,\n         \"errorMessage\": \"\"\n       }\n       \n     - Pergunta: 'Qual o seu mês de nascimento?'\n     - Entrada Usuário: 'março' ou 'Mar'\n     - Retorno:\n       json\n       {\n         \"answerIsCorrect\": true,\n         \"errorMessage\": \"\"\n       }\n\n     - Pergunta: 'Qual a sua data de nascimento?'\n     - Entrada Usuário: '26/11/2003'\n     - Retorno:\n       json\n       {\n         \"answerIsCorrect\": true,\n         \"errorMessage\": \"\"\n       }\n\n       \n\n2. SE A ENTRADA É COMPLETAMENTE INVÁLIDA OU AMBÍGUA PARA A PERGUNTA (INVÁLIDA):\n   - answerIsCorrect deve ser false.\n   - errorMessage deve conter uma explicação clara do erro e, sempre que possível, uma sugestão de como o usuário pode reformular a entrada para que ela seja aceita.\n\n   Exemplos:\n     - Pergunta: 'Qual o seu mês de nascimento?'\n     - Entrada Usuário: 'Segunda-feira'\n     - Retorno:\n       json\n       {\n         \"answerIsCorrect\": false,\n         \"errorMessage\": \"A entrada 'Segunda-feira' não é um mês válido. Por favor, insira um mês (ex: Janeiro, Março, Julho).\"\n       }\n       \n     - Pergunta: 'Qual o ticket médio mensal por cliente (R$)?'\n     - Entrada Usuário: 'muito bom'\n     - Retorno:\n       json\n       {\n         \"answerIsCorrect\": false,\n         \"errorMessage\": \"A resposta 'muito bom' não representa um valor monetário. Por favor, insira um número (ex: 150.00, R$ 200, duzentos e cinquenta).\"\n       }\n     - Pergunta: 'Qual a sua data de nascimento?'\n     - Entrada Usuário: '26.11.2003'\n     - Retorno:\n       json\n       {\n         \"answerIsCorrect\": false,\n         \"errorMessage\": \"A data '26.11.2003' está mal formatada. Por favor digite no formato dd/mm/yyyy, como '26/11/2003'\"\n       }\nPara CPF, pode aceitar valores não formatados."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        816,
        2592
      ],
      "id": "30b90726-9916-4b1e-8235-3b009b754eb4",
      "name": "Validator1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "68a5c60b-918e-4a4d-9fe6-b3503438256e",
              "leftValue": "={{ $node['FilterValidatorType'].json['isCPF'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "aad936c8-8d8c-4b9b-bdd9-21fa98950b16",
              "leftValue": "={{ $json.response.answerIsCorrect }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        2608
      ],
      "id": "39c303a4-8533-45cd-9c3a-498a78878c5a",
      "name": "HasValidCPFToSearch?1",
      "alwaysOutputData": false,
      "notesInFlow": true
    },
    {
      "parameters": {
        "content": "",
        "height": 472,
        "width": 1152,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        2528
      ],
      "id": "0ba86e0e-a9ce-4778-bb93-c0228e9c61a7",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "038c7a3e-9380-4dcb-8b46-d84a7788dfff",
              "name": "response",
              "value": "={{ $node['ResultadoValidacao'].json['response'] }}",
              "type": "object"
            },
            {
              "id": "959d223a-9cd9-42a9-ba07-201fdc67a5e6",
              "name": "isAClient",
              "value": "={{ $json.isAClient }}",
              "type": "boolean"
            },
            {
              "id": "f85dcd34-ce48-454d-8e52-ab3f36b9642d",
              "name": "useClientInfo",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3584,
        2784
      ],
      "id": "6b61ebcb-f8c7-40be-92c1-fb4140de56cb",
      "name": "Edit Fields18"
    },
    {
      "parameters": {
        "url": "https://api.nuvyontelecom.hubsoft.com.br/api/v1/integracao/cliente",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "busca",
              "value": "cpf_cnpj"
            },
            {
              "name": "termo_busca",
              "value": "={{ $node['Entrada'].json['answer'].replaceAll('.', '').replaceAll('-', '')}}"
            },
            {
              "name": "cancelado",
              "value": "sim"
            },
            {
              "name": "inativo",
              "value": "todos"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        2784
      ],
      "id": "ee860e7b-4033-4d70-8fc3-f4c665eecac3",
      "name": "Consulta dados cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "isAClient",
              "value": "={{ $json.status_client === 'ATIVO'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3344,
        2784
      ],
      "id": "cb5a8053-2eb0-4d11-8a46-b8ad71024781",
      "name": "TesteCancelado7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "status_client",
              "value": "={{\n$json.client == undefined ?\n \"NAO_CLIENTE\" : \"ATIVO\"\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        2784
      ],
      "id": "ec2f71d4-1656-4f50-a74b-90ce438366a4",
      "name": "TesteCancelado8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b32aea3-1f59-4e3f-b709-e86f9d44598c",
              "name": "client",
              "value": "={{ $json.clientes[0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        2784
      ],
      "id": "738383ab-acd8-481d-88a7-251bdeeea491",
      "name": "TesteCancelado9"
    },
    {
      "parameters": {
        "content": "",
        "height": 336,
        "width": 1248,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        2672
      ],
      "id": "63ee7af0-7891-47c0-899e-73bd2ee1436d",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "# CPF",
        "height": 112,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        2528
      ],
      "id": "3eb16334-71c1-48fa-8f7a-2a82335f1ceb",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automation-n8n.v4riem.easypanel.host/webhook/a0d1b93c-7b20-477f-b31b-4f43843e9fa1-Perguntando-NUVYON",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "answer",
              "value": "={{ $node['Entrada'].json['answer'] }}"
            },
            {
              "name": "question",
              "value": "={{ $node['Entrada'].json['question'] }}"
            },
            {
              "name": "cellphone",
              "value": "={{ $node['Entrada'].json['cellphone'] }}"
            },
            {
              "name": "empresa",
              "value": "NUVYON"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6192,
        1024
      ],
      "id": "47a3c58b-c96c-429e-9389-9b81558fd31e",
      "name": "Checa Se Duvida1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbb7049a-0dca-47c1-ae33-82d6561be12e",
              "name": "answerIsCorrect",
              "value": "={{ $json.response.answerIsCorrect }}",
              "type": "string"
            },
            {
              "id": "95d9fa66-c66d-4f68-9ebe-32919f531783",
              "name": "errorMessage",
              "value": "={{ $json.response.errorMessage}}",
              "type": "string"
            },
            {
              "id": "30b36ab0-bde4-4a8d-9a35-b29f0eda1c65",
              "name": "hasCancelledService",
              "value": "={{ $json.hasCancelledService }}",
              "type": "string"
            },
            {
              "id": "780e7396-2817-48a7-a75c-978f57f7a9a0",
              "name": "isAClient",
              "value": "={{ $json.isAClient }}",
              "type": "string"
            },
            {
              "id": "f30706ff-1670-4a60-96c0-94aea8be7aff",
              "name": "hasBilling",
              "value": "={{ $json.hasBilling ?? false}}",
              "type": "boolean"
            },
            {
              "id": "9de7cd60-d642-435b-b072-1e78816275f5",
              "name": "useClientInfo",
              "value": "={{ $json.useClientInfo ?? false }}",
              "type": "boolean"
            },
            {
              "id": "9ccdc123-0c28-46d0-a532-1704c9a575d4",
              "name": "cellphone",
              "value": "={{ $node['Entrada'].json['cellphone'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        1184
      ],
      "id": "b81984db-0298-497f-8051-39592553209c",
      "name": "Retorno Padrão de Resposta"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6560,
        1936
      ],
      "id": "2b622baa-d037-41f8-aa14-97ddca601c44",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://robovendas.nuvyonpiaui.com.br/api/leads/atualizar/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "termo_busca",
              "value": "telefone"
            },
            {
              "name": "busca",
              "value": "={{$node['Entrada'].json['cellphone']}}"
            },
            {
              "name": "status_api",
              "value": "cliente"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7024,
        1920
      ],
      "id": "8754d5b2-5e1e-4082-b9c8-fae97b2766ab",
      "name": "UpdateCellphone1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac9c505f-d1cf-4883-9283-55d62c66fa31",
              "leftValue": "={{ $json.isAClient }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6784,
        1936
      ],
      "id": "7f1dfd45-a64f-4290-86ff-c450cc9206e9",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa14b461-9e44-478b-a8d4-74fbaf45e29e",
              "leftValue": "={{ $json.useClientInfo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4480,
        1344
      ],
      "id": "cb8b4c28-1a9f-4450-ad59-187751f6fada",
      "name": "hasClientInfo1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ac22612-817a-4e59-857a-75725f5bcc79",
              "name": "answerIsCorrect",
              "value": "={{ $json.answerIsCorrect }}",
              "type": "boolean"
            },
            {
              "id": "e861955b-8140-480d-ad8e-661d5b7eb655",
              "name": "errorMessage",
              "value": "={{ $json.errorMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        1280
      ],
      "id": "8ab2292e-7047-4854-a537-9111f257f7b9",
      "name": "Edit Fields19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ab3dfa3-9832-4138-92a1-f4cbc9370ba5",
              "name": "answerIsCorrect",
              "value": "={{ $json.answerIsCorrect }}",
              "type": "boolean"
            },
            {
              "id": "88fd1c4f-6491-4347-9cbf-f7a87f6164b2",
              "name": "errorMessage",
              "value": "={{ $json.errorMessage }}",
              "type": "string"
            },
            {
              "id": "8075c630-16c0-4261-8860-1615a996d8ba",
              "name": "hasCancelledService",
              "value": "={{ $json.hasCancelledService }}",
              "type": "boolean"
            },
            {
              "id": "9bc23f87-5e27-4a8f-87f3-dc2cda33ea9d",
              "name": "isAClient",
              "value": "={{ $json.isAClient }}",
              "type": "boolean"
            },
            {
              "id": "0d7bdf62-d397-4929-917d-2eb98ce49737",
              "name": "hasBilling",
              "value": "={{ $json.hasBilling }}",
              "type": "boolean"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        1440
      ],
      "id": "4ac75184-ebd2-4068-b623-35479f6c86e9",
      "name": "Edit Fields20"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Nuvyon - MCV",
        "remoteJid": "+55 53 9950-9717",
        "messageText": "=answrIsCorrect=false, \n{{$node[\"Entrada\"].json['question']}}\n{{$node[\"Entrada\"].json['answer']}}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6192,
        1184
      ],
      "id": "46fdfa64-c4c1-4d4a-bb68-ab570d5789be",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "gvTOCkyIOmMRU0Jx",
          "name": "Evolution account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 1360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4000,
        864
      ],
      "id": "7a67b2e7-1f2e-4349-8c6b-35be3786816f",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# CEP",
        "height": 112,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -832
      ],
      "id": "0d4155fd-91f0-457e-a4d2-8d31b40285f2",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3936,
        -544
      ],
      "id": "b1ad8906-eefd-479f-ad93-dc3606d43920",
      "name": "Respond to Webhook CEP5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8db442a-ab68-414c-97a4-eef94d4d2668",
              "name": "answerIsCorrect",
              "value": "=false",
              "type": "string"
            },
            {
              "id": "5c78ae25-4f77-4768-a265-00ef6dad68fa",
              "name": "errorMessage",
              "value": "Este CEP não existe, tente novamente.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3712,
        -544
      ],
      "id": "32bfd35c-83db-4787-8c8c-2031f17250a3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "content": "",
        "height": 520,
        "width": 1176,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -704
      ],
      "id": "38a68956-d7e7-47bb-ab83-25d28ab1e459",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34d772b5-23bc-4a8b-b0f1-89d790fe488d",
              "leftValue": "={{ $json.cep}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3488,
        -496
      ],
      "id": "4fb2f8d7-a282-4c49-b932-6ef6c88ca1ef",
      "name": "Confirm1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3200,
        -480
      ],
      "id": "ea7864b9-731d-4a87-9bd0-30e2b1e1744d",
      "name": "NoCorrectCEPResponse?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "957226a5-2fb1-4778-aa42-04c728c6410e",
              "leftValue": "={{ $json.needsCEP }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        -640
      ],
      "id": "76f82541-6ca3-4431-8305-8e9918fdc8b4",
      "name": "DoesntNeedCEP?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a90e1e62-4bb8-4467-8033-0bed4332f540",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "1625b673-509d-4381-bf8f-54277851654d",
              "leftValue": "={{ $json.erro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3200,
        -240
      ],
      "id": "ec308079-d047-4e99-aa8f-74fdcf05ffde",
      "name": "CheckErrorCEP1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6f19e80-b20a-4e0c-8cb9-644e31932655",
              "name": "estado",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "fa3cb5e6-1af7-41c7-962b-902c1f9a8d0f",
              "name": "localidade",
              "value": "={{ $json.city }}",
              "type": "string"
            },
            {
              "id": "8bf66d2e-a6f0-42db-beee-ef222412a5e2",
              "name": "logradouro",
              "value": "={{ $json.street }}",
              "type": "string"
            },
            {
              "id": "49c38ffc-af1f-4e82-952a-ee95c2d025e7",
              "name": "bairro",
              "value": "={{ $json.neighborhood }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        -240
      ],
      "id": "bffe52dd-8343-4892-bf0e-288aa1baceac",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{$json.answer}}/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        -480
      ],
      "id": "5d097141-eb73-42fc-ac76-51789c36e0ad",
      "name": "ViaCEP1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://brasilapi.com.br/api/cep/v1/{{$json.answer}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        -288
      ],
      "id": "bf9c5eab-c107-4f48-9bd0-910b590f3d94",
      "name": "BrasilAPI1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "",
        "height": 952,
        "width": 2200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        -704
      ],
      "id": "83c6ef4c-bd73-422e-910e-3a518f176bbb",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4608,
        -448
      ],
      "id": "9c464068-64e0-4992-9795-df26d2111f16",
      "name": "Respond to Webhook CEP2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50144d83-c020-458f-a2c3-3d131b134c67",
              "name": "=time",
              "value": "={{\n$json.time_de_atendimento ??\n[\"Bom Jesus\", \"Palmeira do Piauí\", \"Cristino Castro\", \"Santaluz\", \"Redenção do Gurguéia\", \"Monte Alegre do Piauí\", \"Gilbués\", \"São Gonçalo do Gurguéia\", \"Currais\"].includes( $json.localidade) ? 'Flaysi' : 'Franklin' }}",
              "type": "string"
            },
            {
              "id": "be4cfca2-7886-4e1e-8469-ae6f2afb7020",
              "name": "answerIsCorrect",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4368,
        -448
      ],
      "id": "e9824724-6580-4ab9-8e08-07e3a16ee27e",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cidade_atendida",
          "mode": "list",
          "cachedResultName": "cidade_atendida"
        },
        "where": {
          "values": [
            {
              "column": "nome_cidade",
              "value": "={{ $json.localidade }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3616,
        -224
      ],
      "id": "4dd2acce-2cd2-4487-bbb3-e39032f7e6c0",
      "name": "SelecionarCidade1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "D1gBpoW6iTQCJYXW",
          "name": "wifeed"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b8f6a7d-2abb-416a-876c-061421ab6c00",
              "leftValue": "={{ $json.nome_cidade }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3840,
        -224
      ],
      "id": "7dd1c183-cc23-4664-a9c1-5be751234bde",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4608,
        -240
      ],
      "id": "d4f2eb45-380c-4373-aa74-f1c72794771d",
      "name": "Respond to Webhook CEP4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50144d83-c020-458f-a2c3-3d131b134c67",
              "name": "=givesServiceToCity",
              "value": "false",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4368,
        -256
      ],
      "id": "30440511-04b0-4e0a-ba6c-0e984a0119d9",
      "name": "Edit Fields21"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4128,
        -352
      ],
      "id": "7e4027a5-aac0-432d-a441-386671903e42",
      "name": "Merge1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "motivo-erro",
          "mode": "list",
          "cachedResultName": "motivo-erro"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pergunta_relacionada": "= {{ $node['Entrada'].json['question'] }}",
            "resposta_usuario": "={{ $node['Entrada'].json['answer'] }}",
            "aceito/resolvido": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pergunta_relacionada",
              "displayName": "pergunta_relacionada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resposta_usuario",
              "displayName": "resposta_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "solucao",
              "displayName": "solucao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aceito/resolvido",
              "displayName": "aceito/resolvido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6192,
        1344
      ],
      "id": "0616f49b-0dfd-4b93-8c17-2ea59e496b4d",
      "name": "SalvarDuvida1",
      "credentials": {
        "postgres": {
          "id": "K5KiZT88sRdmz2Um",
          "name": "emily@consulteplus/atendimento-ai"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        2032
      ],
      "id": "f05e4242-6deb-48be-8cec-e86d8aad410e",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "# EMAIL",
        "height": 112,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        1888
      ],
      "id": "c0ca85cc-8b5f-4709-b700-3d76850e5683",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsCEP ?? false}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ad8030fc-61c6-4bf4-b1dc-4e849bd141a3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CEP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc06520b-d3a8-4e6f-abfd-8a34d25eeef5",
                    "leftValue": "={{ $json.isDataNascimento ?? false}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DATE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eea4cf92-9549-47d0-93f8-e790b92766be",
                    "leftValue": "={{ $json.isImagem ?? false}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8fb702e3-a113-49cf-b6fe-749f4901d130",
                    "leftValue": "={{ $json.isEmail ?? false}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EMAIL"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -736,
        1520
      ],
      "id": "d019b207-3d04-41d2-b5e4-9d2652ab15e4",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items\nfor (const item of $input.all()) {\n  \n  // Get the email string from the 'answer' field and trim whitespace\n  const emailString = item.json.answer ? item.json.answer.trim() : null;\n  \n  // Initialize new fields\n  item.json.isValidEmail = false;\n  item.json.validationError = null;\n\n  // 1. Check if input exists\n  if (!emailString) {\n    item.json.validationError = \"Input field 'answer' is missing or empty.\";\n    continue; // Skip to the next item\n  }\n\n  // 2. Check for a valid email format using a robust regex\n  // This regex is widely used (based on RFC 5322) and covers most\n  // valid email formats, including less common ones.\n  const regex = /^(([^<>()[\\]\\\\.,;:\\s@\"]+(\\.[^<>()[\\]\\\\.,;:\\s@\"]+)*)|(\".+\"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$/;\n\n  if (!regex.test(emailString)) {\n    item.json.validationError = \"Invalid email format.\";\n    continue; // Skip to the next item\n  }\n\n  // 3. If all checks pass, mark as valid\n  // If it passed the regex, it's a validly formatted email.\n  item.json.isValidEmail = true;\n\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        2112
      ],
      "id": "88dc4394-bdbf-44ea-b5f9-d61bd55cee52",
      "name": "ValidarEmail"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed8e1a3c-3fad-4c5f-9d12-1a5ade663829",
              "name": "response",
              "value": "={{  { 'answerIsCorrect': $json.isValidEmail, 'errorMessage': ($json.isValidEmail == true) ? '' : 'Este email está incorreto.' } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        2112
      ],
      "id": "4f8872e4-da60-48cb-ab3f-5c989926d013",
      "name": "FormatarEmailResposta"
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 896,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        5344
      ],
      "id": "eb466fea-aca1-44dc-8f47-1a611dc577be",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 512,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5360,
        976
      ],
      "id": "770b5f2a-91a2-4f6c-97c7-c4f6edec1148",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# RESPOSTA ERRADA REAÇÕES",
        "height": 112,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5360,
        864
      ],
      "id": "27eb40a7-48a0-4b4c-9b94-7b1c5825c7b2",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automation-n8n.v4riem.easypanel.host/webhook/2d88270c-9110-4070-8123-acbcb8ffeedb-Precisa-Atendimento-Humano",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $node['Entrada'].json['question'] }}"
            },
            {
              "name": "answer",
              "value": "={{ $node['Entrada'].json['answer'] }}"
            },
            {
              "name": "cellphone",
              "value": "={{ $node['Entrada'].json['cellphone'] }}"
            },
            {
              "name": "empresa",
              "value": "NUVYON"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5728,
        1536
      ],
      "id": "2b122850-f965-403e-9c13-7330cef4a516",
      "name": "Checar Se AtendimentoHumano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "05920ed8-8915-47b1-a0de-71457a6061d2",
              "leftValue": "={{ $json.answerIsCorrect }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5264,
        1280
      ],
      "id": "f591644d-590c-46bf-a86d-fbc264edde67",
      "name": "RespostaÉErrada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "602f51f1-d69f-4a7e-a676-ca1b12058719",
              "leftValue": "={{ $json.needsReception }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5984,
        1536
      ],
      "id": "6edfc614-f434-49be-afb9-688d8ce58d15",
      "name": "AtendimentoHumano?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6c00690-2c5a-47ac-ade4-02940a544a2e",
              "name": "answerIsCorrect",
              "value": "={{ $node['Retorno Padrão de Resposta'].json['answerIsCorrect'] }}",
              "type": "string"
            },
            {
              "id": "85c7eeaa-7f5e-442d-8161-743d54121811",
              "name": "errorMessage",
              "value": "={{ $node['Retorno Padrão de Resposta'].json['errorMessage'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        1712
      ],
      "id": "bbe2889f-8120-4532-b016-a9f48a24c234",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-2024-05-13",
          "mode": "list",
          "cachedResultName": "gpt-4o-2024-05-13"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        5440
      ],
      "id": "42897701-8ce4-4a7c-aebc-ce093dcc57e6",
      "name": "Validação Key",
      "credentials": {
        "openAiApi": {
          "id": "9sEcXDngJTTkRTIV",
          "name": "NUVYON-Validação"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items\nfor (const item of $input.all()) {\n  \n  // Converte para string e remove espaços em branco acidentais das pontas\n  const rawAnswer = item.json.answer || \"\";\n  const cepString = String(rawAnswer).trim();\n  \n  // Inicializa os campos\n  item.json.isValidCep = false;\n  item.json.validationError = null;\n  item.json.formattedCep = null; // Novo campo para o CEP formatado\n\n  // 1. Verifica se a entrada existe\n  if (!cepString) {\n    item.json.validationError = \"O campo 'answer' está ausente ou vazio.\";\n    continue; // Pula para o próximo item\n  }\n\n  // 2. Define o Regex flexível\n  // O sinal '?' indica que o hífen anterior a ele é opcional.\n  const cepRegex = /^\\d{5}-?\\d{3}$/;\n\n  // 3. Realiza a validação e a formatação\n  if (cepRegex.test(cepString)) {\n    item.json.isValidCep = true;\n    \n    // Remove qualquer coisa que não seja número (ex: o hífen, se existir)\n    const apenasNumeros = cepString.replace(/\\D/g, \"\");\n    \n    // Reconstrói a string injetando o hífen na posição correta\n    item.json.formattedCep = `${apenasNumeros.slice(0, 5)}-${apenasNumeros.slice(5)}`;\n    \n    // Opcional: Se quiser sobrescrever a resposta original, descomente a linha abaixo:\n    // item.json.answer = item.json.formattedCep;\n    \n  } else {\n    item.json.validationError = \"Formato de CEP inválido. Esperado XXXXX-XXX ou XXXXXXXX.\";\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -656
      ],
      "id": "d388fefc-35e3-4b93-85b4-260a8c5a8503",
      "name": "ValidarCEP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b1642a5-541a-4539-ab76-2a40445d4595",
              "name": "needsCEP",
              "value": "={{ $json.isValidCep }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -656
      ],
      "id": "88cb875a-ce90-403f-99ac-0495a798f78e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e6866d8-b98a-4819-ad07-19112f243d96",
              "name": "response",
              "value": "{answerIsCorrect: false, errorMessage: \"CEP Inválido! Tente novamente.\"}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -672
      ],
      "id": "2642a2e1-3808-4279-8c1e-1ecec53e3edd",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "tool": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "parameters": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClient",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9fd7813b-39f2-4f34-9eea-a4b9fbf37aae",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "QuestionValidator": {
      "main": [
        [
          {
            "node": "Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada": {
      "main": [
        [
          {
            "node": "skipValidation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterValidatorType": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "skipValidation?": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checar Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        []
      ]
    },
    "RegisterLead": {
      "main": [
        [
          {
            "node": "CreateLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateCidadesWebhook": {
      "main": [
        [
          {
            "node": "EntradaUpdateCidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeveriaApagarAntigos?": {
      "main": [
        [
          {
            "node": "DeletarCidades",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeletarCidades": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EntradaUpdateCidades": {
      "main": [
        [
          {
            "node": "DeveriaApagarAntigos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AdicionarCidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokenHubsoft": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "NãoExiste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokenHubsoft1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "TesteCancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokenHubsoft2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "ServiçoHabilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TesteCancelado2": {
      "main": [
        [
          {
            "node": "TesteCancelado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TesteCancelado3": {
      "main": [
        [
          {
            "node": "TesteCancelado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokenHubsoft3": {
      "main": [
        [
          {
            "node": "Consulta dados cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokenHubsoft4": {
      "main": [
        [
          {
            "node": "Consulta dados cliente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    },
    "TesteCancelado5": {
      "main": [
        [
          {
            "node": "TesteCancelado4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TesteCancelado6": {
      "main": [
        [
          {
            "node": "TesteCancelado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta dados cliente3": {
      "main": [
        [
          {
            "node": "TesteCancelado6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Tipo": {
      "main": [
        [
          {
            "node": "FilterValidatorType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AtualizarTimeCidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizarTimeCidades1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidarDataDeNascimento": {
      "main": [
        [
          {
            "node": "GenerateErrorMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenerateErrorMessage": {
      "main": [
        [
          {
            "node": "Edit Fields17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResultadoValidacao": {
      "main": [
        [
          {
            "node": "HasValidCPFToSearch?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validator1": {
      "main": [
        [
          {
            "node": "ResultadoValidacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta dados cliente": {
      "main": [
        [
          {
            "node": "TesteCancelado9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TesteCancelado7": {
      "main": [
        [
          {
            "node": "Edit Fields18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TesteCancelado8": {
      "main": [
        [
          {
            "node": "TesteCancelado7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TesteCancelado9": {
      "main": [
        [
          {
            "node": "TesteCancelado8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HasValidCPFToSearch?1": {
      "main": [
        [
          {
            "node": "TokenHubsoft3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorno Padrão de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorno Padrão de Resposta": {
      "main": [
        [
          {
            "node": "hasClientInfo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "UpdateCellphone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasClientInfo1": {
      "main": [
        [
          {
            "node": "Edit Fields20",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields19": {
      "main": [
        [
          {
            "node": "RespostaÉErrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields20": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields18": {
      "main": [
        [
          {
            "node": "Retorno Padrão de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Retorno Padrão de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields17": {
      "main": [
        [
          {
            "node": "Retorno Padrão de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook CEP5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoCorrectCEPResponse?1": {
      "main": [
        [
          {
            "node": "Confirm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DoesntNeedCEP?1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ViaCEP1",
            "type": "main",
            "index": 0
          },
          {
            "node": "BrasilAPI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckErrorCEP1": {
      "main": [
        [
          {
            "node": "SelecionarCidade1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "CheckErrorCEP1",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoCorrectCEPResponse?1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ViaCEP1": {
      "main": [
        [
          {
            "node": "CheckErrorCEP1",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoCorrectCEPResponse?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BrasilAPI1": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Respond to Webhook CEP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelecionarCidade1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields21": {
      "main": [
        [
          {
            "node": "Respond to Webhook CEP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ValidarCEP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ValidarDataDeNascimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ValidarEmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidarEmail": {
      "main": [
        [
          {
            "node": "FormatarEmailResposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatarEmailResposta": {
      "main": [
        [
          {
            "node": "Retorno Padrão de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RespostaÉErrada": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Checa Se Duvida1",
            "type": "main",
            "index": 0
          },
          {
            "node": "SalvarDuvida1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Checar Se AtendimentoHumano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Se AtendimentoHumano": {
      "main": [
        [
          {
            "node": "AtendimentoHumano?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtendimentoHumano?": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação Key": {
      "ai_languageModel": [
        [
          {
            "node": "Validator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ValidarCEP": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "DoesntNeedCEP?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Retorno Padrão de Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "a0ff5917-720f-4814-a909-f59b8f844b01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2dea75eafd9e1b5cf8e80e920257571ef206f616550af589c64bf11084d9598"
  },
  "id": "o4rIgngKm4nnGNoD",
  "tags": [
    {
      "updatedAt": "2025-09-24T15:34:11.044Z",
      "createdAt": "2025-09-24T15:34:11.044Z",
      "id": "P0VK8wXmoTSbYqbl",
      "name": "Em uso"
    }
  ]
}